# --- Hassas Veriler (Secrets) ---
.env
browser.json
.spotify_cache
*.json
!requirements.txt

# --- Python ve Sanal Ortam Dosyaları ---
auth_kur.py

__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.env/
build/
develop-eggs/
dist/
downloads/
eggs/
.installed.cfg
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv/

# --- IDE ve Sistem Dosyaları ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Log Dosyaları ---
*.log